.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 520px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  color: white;
  font-size: 24px;
  line-height: 28px;
  user-select: none;
}